.loginFormContainer{
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;

}